@import "src/assets/scss/variables";

.todo-list {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 30px;
  border-radius: 15px;
  border: 4px solid $todo-list-border;
  box-sizing: border-box;
  background-color: $todo-list-background;

  .todo-list-add-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid $header-background;
    background-color: $todo-title-input;
    margin-bottom: 20px;

    .form-field {
      padding-top: 20px;
      margin-right: 20px;
    }
  }
}

.todo-list-loader {
  display: flex;
  justify-content: center;
}
