$header-background: #ffa441;
$header-border: #bf8c54;

$todo-list-background: #8c98da;
$todo-list-border: #3f52b5;
$todo-title-input: #ffe8b1;

$todo-item-background: #bf8c54;

$base-white: white;
$base-red: red;
$base-green: green;
