@import "src/assets/scss/variables";

:host {
  .todo-page {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 30px;
    border-radius: 15px;
    border: 4px solid $todo-list-border;
    box-sizing: border-box;
    background-color: $todo-list-background;

    &-header {
      display: flex;
      justify-content: center;
      margin: 40px 0;

      .header-item {
        margin-right: 10px;
      }

      .header-item:last-child {
        margin-right: 0;
      }
    }
  }
}
